#testPage {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
}

.profile-image {
    position: fixed;
    bottom: 0px;
    left: 10px;
    width: 550px;
    height: 550px;
    object-fit: cover;
}

.intro-glass {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.intro-content {
    color: white;
}
